@charset "utf-8";

.portfolio-img {
  margin-bottom: 25px;
}

.skills {
}

.skills svg {
  width: 100px;
  padding: 15px;
}

@media only screen and  (max-width: 1200px) {
  .headshot-img {
    width: 250px;
    height: 250px;
  }
}
