{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "global": {
    "graphql": true
  },
  "rules": {
    "semi": 0,
    "jsx-quotes": [2, "prefer-single"],
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 0
  }
}
