.post-container {
  margin: 2rem auto;
  max-width: 800;
}

.post a {
  text-decoration: underline;
  transition: 0.25s opacity ease-out;
  opacity: 1;
}

.post a:hover {
  transition: 0.25s opacity ease-in;
}

.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post img {
  margin: 0 auto;
}

.post li > p {
  margin-bottom: -0.7rem;
}

/* TABLET */
@media (max-width: 850px) {

}

/* LARGE PHONE */
@media (max-width: 579px) {
  .post-container {
    padding: 0 1rem;
  }
}

/* SMALL PHONE */
@media (max-width: 360px) {
  .post-container {
    margin: 0 auto;
    max-width: 800;
    padding: 0.5rem;
  }

  .post h1:first-of-type {
    margin-top: 0;
  }
}
