/* POST LIST */

.post-list {
  margin: 0;
}

.post-list__post {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 0 1rem 0;
  background: #fff9ed;
  border: 1px solid #f3e6cf;
  transition: 0.25s border ease-out;
  position: relative;
}

.post-list__post h3 {
  display: inline;
  border-bottom: 1px #fff7e6 solid;
  transition: 0.25s all ease-out;
}

.post-list__post h6 {
  margin-top: 0px;
  margin-bottom: 0.6rem;
}

/* POST LIST HOVER */

.post-list__post:hover {
  border: 1px solid #ffc800;
  transition: 0.25s border ease-in;
}

.post-list__post:hover h3 {
  border-bottom: 1px #364149 solid;
  transition: 0.25s all ease-in;
}

/* POST STICKY */

.post-list__post--sticky {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #fcf0ce;
  width: 100px;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #f3e6cf;
  border-bottom: 1px solid #f3e6cf;
  transition: 0.25s border ease-out;
}

.post-list__post:hover
.post-list__post--sticky {
  border-left: 1px solid #ffc800;
  border-bottom: 1px solid #ffc800;
  transition: 0.25s border ease-in;
}

.post-list__post--sticky h5 {
  margin: 0;
  color: #ffbf00;
}

/* POST COVER IMAGE */

.post-list__post__cover {
  height: 90px;
  width: 90px;
  margin-right: 20px;
}

/* POST DESCRIPTION */

.post-list__post__description h3 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.post-list__post__description p {
  margin-bottom: 0;
}

.post-list__post__excerpt {
  line-height: 1.3rem;
  font-size: 0.9rem;
}

/* TWO COLUMNS */

.post-list--two-columns {
  display: flex;
}

.post-list__left-column {
  width: 50%;
  margin-right: .5rem;
}

.post-list__right-column {
  width: 50%;
  margin-left: .5rem;
}

.post-list--two-columns .post-list__post {
  display: block;
}

.post-list--two-columns .post-list__post__cover {
  width: 100%;
  height: auto;
  border: 1px solid #f3e6cf;
  margin-bottom: 0;
}

.post-list--two-columns h3 {
  margin-bottom: 0.4rem;
}

.post-list--two-columns .post-list__post__excerpt {
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .post-list__post {
    flex-direction: column;
  }

  .post-list__post__cover {
    height: 50px;
    width: 50px;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .post-list__post h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .post-list__post h3 {
    font-size: 1.4rem;
  }

  .post-list__post p {
    font-size: 0.9rem;
  }

  .post-list__post {
    flex-direction: column;
  }

  /* TWO COLUMNS */

  .post-list--two-columns {
    display: block;
  }

  .post-list__left-column {
    width: 100%;
    margin-right: 0rem;
  }

  .post-list__right-column {
    width: 100%;
    margin-left: 0rem;
  }
}
