/* HEADER GENERAL */

.header {
  max-width: 825px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin-top: 0;
  margin-bottom: 0;
}

.header__site,
.header__links {
  display: flex;
  align-items: center;
}

.header__site {
  transition: 5s all;
}

.header__site h1 {
  border: none;
}

.header__site:hover
.header__site-logo {
  transform: rotate(-720deg);
  transition: 4s all;
}

/* HEADER SITE INFO */

.header__site-logo {
  height: 50px;
  transition: 1s all;
}

.header__site-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 13px;
  line-height: 1.2;
  font-size: 19px;
}

/* HEADER LINKS */

.header__link {
  font-size: 15px;
  margin-left: 40px;
  margin-top: -1px;
  line-height: 1.5;
  text-align: center;
  border-bottom: 1px white solid;
  transition: 0.25s border ease-out;
}

.header__link:hover {
  border-bottom: 1px black solid;
  transition: 0.25s border ease-in;
}
