/* Post list background */
$primary-color: red;
$primary-shadow-color: #f3e6cf;
$primary-hover-color: #000000;

/* None */
$secondary-bg-color: #fff7e6;
$secondary-shadow-color: #f3e6cf;

/* Header and footer */
$header-footer-color: #ffffff;

/* layout/index.css */
$background-color: #fdfaf6;
$text-color: #364149;

/* Code Colors */
$code-text-color: green;
$code-bg-color: #fff7e6;
$code-shadow-color: #f3e6cf;

/*
  transition: 0.4s all ease-out;
*/

/*
  border: 1px solid #f3e6cf;
*/

/*
  box-shadow: inset 0 0 0 1px rgb(121, 121, 121);
*/
